# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vantalos_recruiter

# Redis
REDIS_URL=redis://localhost:6379


SESSION_SECRET="replace_this_with_a_random_32_plus_char_secret_please_123456"

# Twilio
TWILIO_AUTH_TOKEN=***REMOVED***
TWILIO_ACCOUNT_SID=***REMOVED***
TWILIO_WHATSAPP_NUMBER=+14155238886
#AI-Intent
ENABLE_AI_INTENT_CLASSIFIER=true
# OpenAI
OPENAI_API_KEY=***REMOVED***
