-- CreateEnum
CREATE TYPE "JobPipelineStage" AS ENUM ('SHORTLISTED', 'OFFER_SENT', 'START_CONFIRMED', 'NO_SHOW', 'DROPPED');

-- CreateEnum
CREATE TYPE "NoShowReason" AS ENUM ('DID_NOT_TURN_UP', 'CANCELLED_LAST_MINUTE', 'PHONE_OFF', 'CLIENT_REJECTED_ON_DAY', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "DroppedReason" AS ENUM ('NOT_INTERESTED', 'NOT_RESPONDING', 'FAILED_DOCS', 'FAILED_CSCS', 'CLIENT_REJECTED', 'OTHER');

-- AlterEnum
ALTER TYPE "TimelineEventType" ADD VALUE 'JOB_PIPELINE_UPDATED';

-- CreateTable
CREATE TABLE "job_pipeline_items" (
    "id" TEXT NOT NULL,
    "agencyId" TEXT NOT NULL,
    "jobId" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "stage" "JobPipelineStage" NOT NULL,
    "notes" TEXT,
    "startDate" TIMESTAMP(3),
    "payRate" DOUBLE PRECISION,
    "shiftInfo" TEXT,
    "noShowReason" "NoShowReason",
    "droppedReason" "DroppedReason",
    "updatedByOperatorId" TEXT,
    "data" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "job_pipeline_items_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "job_pipeline_items_agencyId_jobId_stage_idx" ON "job_pipeline_items"("agencyId", "jobId", "stage");

-- CreateIndex
CREATE INDEX "job_pipeline_items_agencyId_candidateId_updatedAt_idx" ON "job_pipeline_items"("agencyId", "candidateId", "updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "job_pipeline_items_agencyId_jobId_candidateId_key" ON "job_pipeline_items"("agencyId", "jobId", "candidateId");

-- AddForeignKey
ALTER TABLE "job_pipeline_items" ADD CONSTRAINT "job_pipeline_items_agencyId_fkey" FOREIGN KEY ("agencyId") REFERENCES "agencies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "job_pipeline_items" ADD CONSTRAINT "job_pipeline_items_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "jobs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "job_pipeline_items" ADD CONSTRAINT "job_pipeline_items_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "candidates"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "job_pipeline_items" ADD CONSTRAINT "job_pipeline_items_updatedByOperatorId_fkey" FOREIGN KEY ("updatedByOperatorId") REFERENCES "operators"("id") ON DELETE SET NULL ON UPDATE CASCADE;
